<div class="center-align">
  <div class="row">
    bem vindo à biblioteca secreta do umdois!
  </div>
  <%= image_tag "https://pbs.twimg.com/media/EVwKz5dXYAYU5Ig?format=jpg&name=small", class: "hoverable center-align" %>

</div>