@import url('https://fonts.googleapis.com/css?family=Open+Sans:500,700,800');
@import "materialize/components/color-variables";
$primary-color: color("green", "lighten-1") !default;
$secondary-color: color("black", "base") !default;
@import 'materialize';

html {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
 }
.parallax-container {
    height: 350px;
}
