@import "materialize/components/color-variables";
$primary-color: color("green", "lighten-2") !default;
$secondary-color: color("black", "base") !default;
@import 'materialize';

.parallax-container {
    height: 250px;
  }