<!-- Page Layout here -->
<div class="container">
  <!-- MAIN BANNER -->
    <%= image_tag("banner-001.png", class: "banner") %>
  <!-- END MAIN BANNER -->

  <!-- MEDIA -->
  <div class="media">
    <span>mídia</span>
    <%= image_tag("banner-002.png") %>
  </div>
  <!-- END MEDIA -->

  <!-- STORE -->
  <!-- END STORE -->

  <!-- APOIA.SE -->
  <div>
    <%= image_tag("apoia-se.png", class: "banner") %>
  </div>

  <!-- END APOIA.SE -->
</div>
<!-- END Page Layout -->