<!-- Start  Parallax -->

<div class="parallax-container">
  <div class="parallax">
      <%= image_tag("banner.jpg") %>
  </div>
</div>

<!-- End  Parallax -->

<div class="row container">
  Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 
</div>

<!-- Page Layout here -->
<div class="row container">

  <div class="col s3 m3 l3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="col s9 m9 l9">
    <div class="card small">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2017/04/Moby-Dick-600x317.jpg">
      </div>
      <div class="card-content">
        <span class="card-title green-text text-darken-2 activator grey-text text-darken-4">Moby-D<i class="material-icons right">more_vert</i></span>
        <p><a href="#">click para ficar chapadão</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title green-text text-darken-2 grey-text text-darken-4">Moby-D do dentola<i class="material-icons right">close</i></span>
        <p>CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa!</p>
      </div>
    </div>
  </div>

</div>

<!-- END Page Layout -->




<div class="container">
  <blockquote class="text-lighten-4">
    Legalize spliffs for recreational Snoop Dogg edibles pusher cannabidiol cartoons. Crystalized buds from trimming tasty weed pens THC sativa euphoric resinated dome piece. Rolling down the street smoking endo, laid back. Indica is like ‘in da couch’ like straight couch lock chasing waterfalls and milkers straight to your dome. Wake and bake indica hash at the dispensary in Oregon decriminalized. 
  </blockquote>
</div>

<!--  -->

<div class="section"></div>
<div class="divider"></div>
<div class="section"></div>

<!--  -->

<div class="row container">
  <div class="col s3 m3 l3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="col s3 m3 l3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="col s3 m3 l3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="col s3 m3 l3">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="section"></div>
<div class="divider"></div>
<div class="section"></div>


<!--
  
 -->

 <div class="row container">

  <div class="col s9 m9 l9">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-image">
            <img src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2019/09/Super-Lemon-Haze-Main-600x317.jpg">
            <span class="card-title green-text text-darken-2 green-text text-darken-2">Super Lemon Haze</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
            <p> Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope</p>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <div class="col s3 m3 l3">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="https://www.ilovegrowingmarijuana.com/wp-content/uploads/2017/04/Moby-Dick-600x317.jpg">
      </div>
      <div class="card-content">
        <span class="card-title green-text text-darken-2 activator grey-text text-darken-4">Moby-D<i class="material-icons right">more_vert</i></span>
        <p><a href="#">click para ficar chapadão</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title green-text text-darken-2 grey-text text-darken-4">Moby-D do dentola<i class="material-icons right">close</i></span>
        <p>CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa!</p>
      </div>
    </div>
  </div>

</div>

Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 

French inhale topical CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa! Fully man, keif gummies are the indoor equivalent of body high super mellow. Taco Bell 4th meal with Doritos Locos tacos and a knife rip on the side. Have you ever tried Lorem Ipsum on Weeeeeeeeeeed? 

Legalize spliffs for recreational Snoop Dogg edibles pusher cannabidiol cartoons. Crystalized buds from trimming tasty weed pens THC sativa euphoric resinated dome piece. Rolling down the street smoking endo, laid back. Indica is like ‘in da couch’ like straight couch lock chasing waterfalls and milkers straight to your dome. Wake and bake indica hash at the dispensary in Oregon decriminalized. 

Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 

French inhale topical CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa! Fully man, keif gummies are the indoor equivalent of body high super mellow. Taco Bell 4th meal with Doritos Locos tacos and a knife rip on the side. Have you ever tried Lorem Ipsum on Weeeeeeeeeeed? 

Legalize spliffs for recreational Snoop Dogg edibles pusher cannabidiol cartoons. Crystalized buds from trimming tasty weed pens THC sativa euphoric resinated dome piece. Rolling down the street smoking endo, laid back. Indica is like ‘in da couch’ like straight couch lock chasing waterfalls and milkers straight to your dome. Wake and bake indica hash at the dispensary in Oregon decriminalized. 

Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 

French inhale topical CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa! Fully man, keif gummies are the indoor equivalent of body high super mellow. Taco Bell 4th meal with Doritos Locos tacos and a knife rip on the side. Have you ever tried Lorem Ipsum on Weeeeeeeeeeed? 

Legalize spliffs for recreational Snoop Dogg edibles pusher cannabidiol cartoons. Crystalized buds from trimming tasty weed pens THC sativa euphoric resinated dome piece. Rolling down the street smoking endo, laid back. Indica is like ‘in da couch’ like straight couch lock chasing waterfalls and milkers straight to your dome. Wake and bake indica hash at the dispensary in Oregon decriminalized. 

Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 

French inhale topical CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa! Fully man, keif gummies are the indoor equivalent of body high super mellow. Taco Bell 4th meal with Doritos Locos tacos and a knife rip on the side. Have you ever tried Lorem Ipsum on Weeeeeeeeeeed? 

Legalize spliffs for recreational Snoop Dogg edibles pusher cannabidiol cartoons. Crystalized buds from trimming tasty weed pens THC sativa euphoric resinated dome piece. Rolling down the street smoking endo, laid back. Indica is like ‘in da couch’ like straight couch lock chasing waterfalls and milkers straight to your dome. Wake and bake indica hash at the dispensary in Oregon decriminalized. 

Rasta! Toke up on the Pineapple Express with that sticky icky shotgun sensamillia. Extremely dope chronic eye drops in the basement with psychedellic nugs. Make a quick pipe out of an apple and release the carb Purple Haze all around. OG grandaddy purps with notes of diesel. 

French inhale topical CBD lotion and binge watch Cheech and Chong. Just give us the whizzaa! Fully man, keif gummies are the indoor equivalent of body high super mellow. Taco Bell 4th meal with Doritos Locos tacos and a knife rip on the side. Have you ever tried Lorem Ipsum on Weeeeeeeeeeed? 