<footer class="page-footer blue-grey darken-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="grey-text text-lighten-4">
            UMDOIS é o lifestyle da cultura canábica. É a voz dos maconhistas, é o momento do dia para rir da vida, rir de si mesmo ou rir só de chapado.
            <br/><br/>
            Através do entretenimento, lutamos contra a desinformação da cannabis colaborando com a redução de danos.
        </h6>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><a class="grey-text text-lighten-3"><small>youtube.com</small>/ umdoiscanal</a></li>
          <li><a class="grey-text text-lighten-3"><small>instagram.com</small>/ canalumdois</a></li>
          <li><a class="grey-text text-lighten-3"><small>facebook.com</small>/ canalumdois</a></li>
          <li><br/></li>
          <li><a class="grey-text text-lighten-3">+55 11 97266-1233</a></li>
          <li><a class="grey-text text-lighten-3">contato@lojaumdois.com.br</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container">
    <small>
      UMDOIS COMUNICAÇÃO LTDA - EPP - CNPJ: 28.705.502/0001-37
      <br/>
      © 2020 todos os direitos reservados
    </small>
    <%= link_to "feito com ♡ por lucascartaxo", "http://github.com/lucascartaxo", class: "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>